body {
  margin: 0;
  text-align: center;
}

header {
  background-color: #c4c4c4;
}

header h1 {
  margin: 0;
  padding: 0.5rem 0;
}

main {
  width: 80%;
  margin: 0 auto;
}

section {
  margin: 2.5% 0;
}

@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }
}
